.main{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    background-color: blue;
    padding: 0 40px;
    
}
.logo a{
    text-decoration: none;
    font-weight: 700;
    font-size: 35px;
    color: white;
}
.menu ul li{
    list-style: none;
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    margin: 0 20px;
    color: white;
    font-weight: 500;
}
.title{
    text-align: center;
}
.sec-title{
    text-align: center;
    font-weight: normal;
}
.title-bold{
    font-weight: bold;
}